@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
body {
  background-color: #4d1672;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

div h1 {
  color: #1d1357;
  font-family: 'Montserrat';
  -webkit-animation: anim 3s ease-in-out infinite 0s;
          animation: anim 3s ease-in-out infinite 0s;
}

@-webkit-keyframes anim {
  0% {
    color: #112ab6;
  }
  50% {
    color: #9a36ac;
  }
  100% {
    color: #44a733;
  }
}

@keyframes anim {
  0% {
    color: #112ab6;
  }
  50% {
    color: #9a36ac;
  }
  100% {
    color: #44a733;
  }
}
