@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body{
    background-color: #4d1672;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    h1{
    color: rgb(29, 19, 87);
    font-family: 'Montserrat';
    animation: anim 3s ease-in-out infinite 0s;
}
}


@keyframes anim{
    0%{
        color: rgb(17, 42, 182);
    }
    50%{
        color: rgb(154, 54, 172);
    }
    100%{
       color: rgb(68, 167, 51);
    }

}